* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #282a2c, #111315);
    font-family: Moderustic;
    height: 770px;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    color: rgb(106, 201, 28);
    font-weight: 700;
    font-size: 40px;
}

.name{
    margin-top: 38px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    
}

.links a{
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 2px solid rgba(106, 201, 28, 1);
    background: rgba(106, 201, 28, 1);
    border-radius: 10px;
    padding: 17px 61px;
    margin-right: 7px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    margin-top: 19px;
    
}

.vector1{
    position: absolute;
    top: 8%;
    right: 8%;
    width: 200px;
    transform: rotate(10deg);
    z-index: -1;
}


.vector2{
    position: absolute;
    top: 8%;
    left: 5.3%;
    width: 200px;
    transform: rotate(30deg);
    z-index: -1;
}

.vector3{
    position: absolute;
    top: 27%;
    right: 23%;
    width: 200px;
    transform: rotate(110deg);
    z-index: -1;
}

.vector4{
    position: absolute;
    top: 55%;
    left: 12.5%;
    width: 200px;
    transform: rotate(70deg);
    z-index: -1;
}

.vector5{
    position: absolute;
    top: 30%;
    left: 24%;
    width: 200px;
    transform: rotate(170deg);
    z-index: -1;
}

.vector6{
    position: absolute;
    top: 54%;
    right: 14%;
    width: 200px;
    transform: rotate(80deg);
    z-index: -1;
}

.vector7{
    position: absolute;
    top: 81%;
    left: 5.5%;
    width: 100px;
    z-index: -1;
}

.vector8{
    position: absolute;
    top: 81%;
    right: 5.5%;
    width: 100px;
    z-index: -1;
}

.rotate-vector{
    display: none;
    position: absolute;
    width: 200px;
    z-index: -1;
}

footer { 
    padding-top: 70px; 
    padding-bottom: 40px;
}

.footer-bottom {
    text-align: center; 
    color: rgba(106, 201, 28, 1); 
} 
 
.rights { 
    margin-top: 4px; 
}

@media(max-width: 1240px) {
    .container {
        max-width: 95%;
    }
}

@media(max-width: 1160px){
    
    .vector1 {
        top: 16%;
        right: 7%;
    }
    
    .vector2 {
        display: none;
    }
    
    .vector3 {
        display: none;
    }

    .vector4 {
        display: none;
    }


    .vector5 {
        display: none;
    }

    .vector6 {
        display: none;
    }

    .rotate-vector {
        display: block;
        top: 16%;
        left: 7%;
        transform: rotate(-10deg);
    }

}


@media(max-width: 750px) {
    .vector1 {
        right: 4%;
    }

    .rotate-vector{
        left: 4%;
    }
}

@media(max-width: 660px) {
    .vector1 {
        right: 1%;
    }

    .rotate-vector{
        left: 1%;
    }
}

@media(max-width: 605px) {
    .vector1 {
        display: none;
    }

    .vector7{
        display: none;
    }

    .vector8{
        display: none;
    }

    .rotate-vector{
        display: none;
    }
}

@media(max-width: 435px){
    .container{
        max-width: 80%;
    }

    .main h1{
        text-align: center;
        font-size: 37px;
    }

    .links a{
        font-size: 17px;
        
    }
}